on 


<p>Hello World this is my web app</p>

<h2>@ViewBag.Hello</h2>
<form action="Result">
    <p>Name</p>
    <input name="Name" type="text"/>
    <p>Age</p>
    <input name="Age" type="number" />
    <input type="submit"/>
</form>